.table {
    user-select: none;
    border-spacing: 1px;
}

.table th {
    font-size: 18px;
    text-align: center;
    padding: 1px 3px 1px 3px;
}

.table td {
    border: 1.5px darkgray solid;
    background-color: #cfcfc4;
    text-align: center;
}

.table .selected {
    border-width: 2px;
    border-color: rgba(0, 0, 0, 0.8);
    opacity: 0.85;
}

/* Table header borders */
.table tr:first-child th:not(:first-child):not(:last-child) {
    border-right: 1px gray dotted;
}
.table tr:not(:first-child):not(:last-child) th {
    border-bottom: 1px gray dotted;
}